.image {
    background-image: url('../../public/cocktail-background.jpg');
    /* Additional CSS properties */
width: 400px;
  }
image{
    width: 100%;
}
p{
    background-color: rgb(229, 229, 245);
}